			{# header-container start #}
			<div class="header-container">
				
				{# header start #}
				{# classes:  #}
				{# "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" #}
				{# "dark": dark version of header e.g. class="header dark clearfix" #}
				{# "full-width": mandatory class for the full-width menu layout #}
				{# "centered": mandatory class for the centered logo layout #}
				{# ================ #} 
				<header class="header  fixed dark clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								{# header-left start #}
								{# ================ #}
								<div class="header-left clearfix">
									{# logo #}
									<div id="logo" class="logo">
										<a href="/{{ lang_code }}/">
											<img id="logo_img" src="/static/images/hs_logo_white.png" alt="HISPASEC" width="300" height="35">
										</a>
									</div>
									{# name-and-slogan #}
									<div class="site-slogan">{% trans %}Seguridad. Experiencia. Innovación.{% endtrans %}</div>
								</div>
								{# header-left end #}
							</div>
							<div class="col-md-9">
								{# header-right start #}
								{# ================ #}
								<div class="header-right clearfix">
								{# main-navigation start #}
								{# classes: #}
								{# "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" #}
								{# "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" #}
								{# "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns #}
								{# ================ #}
								<div class="main-navigation animated with-dropdown-buttons">

									{# navbar start #}
									{# ================ #}
									<nav class="navbar navbar-default">
										<div class="container-fluid">

											{# Toggle get grouped for better mobile display #}
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											{# Collect the nav links, forms, and other content for toggling #}
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												{# main-menu #}
												<ul class="nav navbar-nav ">
												
													<li class="dropdown active dropdown_off" >
														<a href="/{{ lang_code }}/">{% trans %}Inicio{% endtrans %}</a>
													</li>
													
													{# mega-menu start #}
													<li class="dropdown active mega-menu">
														<a href="" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Servicios{% endtrans %}</a>
														<ul class="dropdown-menu">
															<li>
																<div class="row">
																	<div class="col-lg-6 col-md-3">
																		<h4 class="title">{% trans %}HISPASEC | Servicios de seguridad{% endtrans %}</h4>
																		<div class="row">
																			<div class="col-sm-10">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li ><a href="/{{ lang_code }}/services/antifraud.html"><i class="fa fa-angle-right"></i>{% trans %}Antifraude{% endtrans %}<br>{% trans %}Servicio 24x7 de detección y cierre de incidentes de fraude{% endtrans %}</a></li>
																					<li ><a href="/{{ lang_code }}/services/audits.html"><i class="fa fa-angle-right"></i>{% trans %}Auditorías{% endtrans %}<br>{% trans %}Cada auditoría, un reto{% endtrans %}</a></li>
																					<li ><a href="/{{ lang_code }}/services/sana.html"><i class="fa fa-angle-right"></i>SANA <br>{% trans %}Que no se te pase ninguna actualización de tus sistemas.{% endtrans %}</a></li>
																					<li ><a href="/{{ lang_code }}/services/koodous.html"><i class="fa fa-angle-right"></i>Koodous <br>{% trans %}Comunidad de analistas de todo el mundo expertos en Android{% endtrans %}</a></li>
																					<li ><a href="/{{ lang_code }}/services/consultant.html"><i class="fa fa-angle-right"></i>{% trans %}Consultoría{% endtrans %}<br>{% trans %}Servicio integral de consultoría{% endtrans %}</a></li>
																					<li ><a href="//iocflow.com" target="_blank"><i class="fa fa-angle-right"></i>IOCFlow <br>{% trans %}Mantente a la vanguardia de la ciberinteligencia{% endtrans %}</a></li>
																					<li ><a href="/{{ lang_code }}/services/training.html"><i class="fa fa-angle-right"></i>{% trans %}Formación{% endtrans %}<br>{% trans %}Formación a medida de seguridad informática{% endtrans %}</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																	<div class="col-xs-6 col-lg-6 col-md-9 hidden-sm">
																		<h4 class="title"><br>{% trans %}Descubra nuestros servicios para su entidad o empresa{% endtrans %}</h4>
																		<p class="mb-10">{% trans %}Desde el malware hasta las auditorías, nos encargamos de todo el proceso de seguridad.{% endtrans %}</p>
																		<div class="menu_logos">
																			<span class="hs-AF_logo-single_dark"></span>
																			<span class="hs-AU_logo-single_dark"></span>
																			<span class="hs-SA_logo-single_dark"></span>
																			<span class="hs-KD_logo-single_dark"></span>
																		</div>	
																	</div>
																</div>
															</li>
														</ul>
													</li>
													{# mega-menu end #}
													<li class="dropdown active">
														<a class="dropdown-toggle" data-toggle="dropdown">{% trans %}Acerca de{% endtrans %}</a>
														<ul class="dropdown-menu">
															<li>
																<a href="/{{ lang_code }}/hispasec.html">
																	HISPASEC
																</a>
															</li>
															<li>
																<a href="/{{ lang_code }}/contact.html">
																	{% trans %}Contacto{% endtrans %}
																</a>
															</li>
														</ul>
													</li>
													<li class="dropdown active">
														<a href="" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Blogs{% endtrans %}</a>
														<ul class="dropdown-menu">
															<li ><a href="http://unaaldia.hispasec.com/">Una-al-dia<span class="badge"><span class="hs-UA_logo-single_dark menu_logos_blogs"></span></span></a></li>
															<li ><a href="http://laboratorio.blogs.hispasec.com/">{% trans %}Laboratorio{% endtrans %}<span class="badge"><span class="hs-LA_logo-single_dark menu_logos_blogs"></span></span></a></li>
															<li ><a href="http://blog.koodous.com/" target="_blank">Koodous<span class="badge"><span class="hs-KD_logo-single_dark menu_logos_blogs"></span></span></a></li>
											
														</ul>
													</li>
												</ul>
												{# main-menu end #}
												
												{# header buttons #}
												<div class="header-dropdown-buttons">
													{# *** contact #}
													<a href="/{{ lang_code }}/contact.html" class="btn btn-sm hidden-xs btn-default">{% trans %}Contacto{% endtrans %}<i class="fa fa-envelope-o pl-5"></i></a>
													<a href="/{{ lang_code }}/contact.html" class="btn btn-lg visible-xs btn-block btn-default">{% trans %}Contacto{% endtrans %}<i class="fa fa-envelope-o pl-5"></i></a>
													{# *** csirt #}
													<a href="https://dashboard.csirt.hispasec.com" target="_blank" class="btn btn-sm hidden-xs btn-default">{% trans %}Acceso clientes{% endtrans %}<i class="fa fa-sign-in pl-5"></i></a>
													<a href="https://dashboard.csirt.hispasec.com" target="_blank" class="btn btn-lg visible-xs btn-block btn-default">{% trans %}Acceso clientes{% endtrans %}<i class="fa fa-sign-in  pl-5"></i></a>
													{% if lang_code == 'es' %}
														<a href="/en/" class="btn btn-sm hidden-xs btn-default">EN</a>
													{% else %}
														<a href="/es/" class="btn btn-sm hidden-xs btn-default">ES</a>
													{% endif %}
												</div>
												{# header buttons end#}
											</div>
										</div>
									</nav>
									{# navbar end #}
								</div>
								{# main-navigation end #}	
								</div>
								{# header-right end #}
							</div>
						</div>
					</div>
				</header>
				{# header end #}
			</div>
			{# header-container end #}